name: Deploy

on:
  push:
    branches:
      - master 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: SSH and deploy
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        sudo echo "$SSH_PRIVATE_KEY" > keyfile
        sudo chmod 600 keyfile
        sudo mkdir -p ~/.ssh
        sudo cp known_hosts ~/.ssh/known_hosts
        sudo ssh -tt -i keyfile ubuntu@ec2-13-53-146-69.eu-north-1.compute.amazonaws.com "sudo bash ~/deploy.sh"

